<div id="left">
    filemanager
    <br><br>
    <a href="/clear" class="tableLink">USUŃ DANE O PLIKACH Z TABLICY</a>
</div>
<div id="right">
    <table>
        <tr id="headertr">
            <th>id</th>
            <th>obraz</th>
            <th>name</th>
            <th>size</th>
            <th>type</th>
            <th>-</th>
            <th>-</th>
            <th>-</th>
        </tr>
        {{#each files}}
        {{> oneFile}}
        {{/each}}
    </table>
</div>