<div id="left">
    multiupload
</div>
<div id="right">
    <form action="/handleFiles" enctype="multipart/form-data" method="POST">
        <input type="file" multiple required name="file">
        <input type="submit" name="button" id="button" value="upload">
    </form>
    <div id="confirm"></div>
</div>